body {
	background-color: #111;
	color: #fff;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #222;
	padding: 20px;
	text-align: center;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 10px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
	background-color: #333;
}

nav ul li a:hover {
	background-color: #555;
}

.container {
	width: 300px;
	margin: 100px auto;
	padding: 20px;
	background-color: #222;
	border-radius: 10px;
	text-align: center;
}

.content {
	margin: 150px auto;

	/* background-color: rgb(27, 3, 3); */
	border-radius: 10px;
	text-align: center;

	width: 550px;
}

h1 {
	font-size: 50px;
	text-align: center;
	/* Center of page */
	margin: 40 auto;
}

p {
	font-size: 20px;
	text-align: center;
	/* Center of page */
	margin: 30 auto;
}

.form-group {
	margin-bottom: 20px;
}

label {
	display: block;
	font-size: 18px;
}

input[type="text"],
input[type="password"] {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	text-align: center;
	box-sizing: border-box;
	margin: 0 auto;
}

button {
	padding: 10px 20px;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	background-color: #333;
	color: #fff;
	cursor: pointer;
	display: block;
	margin: 20px auto;
}

button:hover {
	background-color: #555;
}
