body {
	background-color: #222;
	color: #fff;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	width: 300px;
	margin: 100px auto;
	padding: 40px;
	background-color: #222;
	border-radius: 10px;
	text-align: center;
	position: relative;
}

h1 {
	font-size: 24px;
}

.center-input {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	text-align: center;
	box-sizing: border-box;
}

.menu-button {
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: transparent;
	border: none;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

.menu-button:hover {
	text-decoration: underline;
}

.cool-button {
	background-color: #ffcc00;
	color: #222;
	transition: background-color 0.3s ease;
}

.cool-button:hover {
	background-color: #ffc107;
	transform: scale(1.1);
	transition: transform 0.3s ease-in-out;
}

button {
	padding: 10px 20px;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	background-color: #333;
	color: #fff;
	cursor: pointer;
	margin: 10px auto;
}

.word-button {
	/* Show on top left */
	position: absolute;
	top: 20px;
	left: 20px;
	background-color: transparent;
	border: none;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

.result {
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	transition: color 0.3s ease;
	text-align: center;
}

.result:hover {
	color: #ffcc00;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
