<!DOCTYPE html>
<html>
	<head>
		<title>Googol</title>
		<link rel="stylesheet" type="text/css" href="\menu.css" />
	</head>
	<body>
		<div class="usernames">
			<p th:text="${user}" class="username"></p>
		</div>

	<div class="content">
		<h1 id="title">Welcome to Googol!</h1>
		<p>Please select an option</p>
	</div>

	<header>
		<nav>
			<ul id="menu">
				<li><a href="#">Index</a></li>
				<li><a href="#">Word</a></li>
				<li><a href="#">URL</a></li>
				<li><a href="#">Login</a></li>
				<li><a href="#">Register</a></li>
				<li><a href="#">Logout</a></li>
				<li><a href="#">UserStories</a></li>
				<li><a href="#">AdminPage</a></li>
			</ul>
		</nav>
	</header>

	<script src="\menu.js"></script>
</body>

</html>