<!DOCTYPE html>
<html>
	<head>
		<title>Word/Phrase Search Page</title>
		<link rel="stylesheet" type="text/css" href="\word.css" />
	</head>
	<body>
		<div class="container">
			<h1>Enter a Word or Phrase</h1>
			<form>
				<div class="form-group">
					<input
						type="text"
						id="inputText"
						name="inputText"
						placeholder="Enter a word or phrase"
						class="center-input"
					/>
				</div>
				<button type="submit" class="cool-button">Search</button>
			</form>
		</div>

		<button class="menu-button" onclick="goToMenu()">Menu</button>
		<button class="word-button" onclick="goToWord()">Search Again</button>

		<div class="result">
			<p th:text="${lista}" class="result"></p>
		</div>

		<script>
			function goToMenu() {
				window.location.href = "http://localhost:8080/menu";
			}
			function goToWord() {
				window.location.href = "http://localhost:8080/word";
			}
		</script>
	</body>
</html>
